<a href="https://colab.research.google.com/github/ishi15/CodeClause_credit-card-fraud-detection/blob/main/credit_card_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importing libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

loading data set (from kaggle)

In [ ]:
df_credit= pd.read_csv('/content/creditcard.csv')

<ipython-input-6-f0ee8be0f95d>:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df_credit= pd.read_csv('/content/creditcard.csv')

data pre-processing

In [ ]:
df_credit

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33755,37372,0.597155,-1.457940,0.648770,-1.154721,-1.384692,-0.114190,-0.353940,0.077492,1.434997,...,0.266727,0.391858868587825,-0.248812,0.335329,0.164725,-0.063462,0.010369,0.068737,300.00,0.0
33756,37373,-7.504323,-15.633772,-4.215051,1.507090,-5.412604,3.243205,4.422388,-0.423582,0.392031,...,2.323590,-2.53917289990935,-3.736852,-0.792271,-1.694790,-0.463947,-0.703180,0.780931,4476.72,0.0
33757,37373,1.242547,0.010297,-1.206012,0.083576,2.171891,3.391877,-0.417041,0.793206,-0.149793,...,0.031822,-0.0638428726104072,-0.166334,1.008827,0.824605,-0.268009,0.016069,0.019513,28.56,0.0
33758,37373,-1.065865,1.177477,2.083773,1.296198,0.564073,0.295974,0.656915,0.158767,-1.006866,...,-0.157601,-0.518893364163089,-0.140236,-0.022273,0.117122,-0.358995,-0.201863,0.088919,0.00,0.0
33759,37373,-0.302250,0.828254,-0.311542,-1.108255,2.533421,3.274040,0.134693,0.933364,-0.505897,...,-0.314500,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33760 entries, 0 to 33759
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    33760 non-null  int64
 1   V1      33760 non-null  float64
 2   V2      33760 non-null  float64
 3   V3      33760 non-null  float64
 4   V4      33760 non-null  float64
 5   V5      33760 non-null  float64
 6   V6      33760 non-null  float64
 7   V7      33760 non-null  float64
 8   V8      33760 non-null  float64
 9   V9      33760 non-null  float64
 10  V10     33760 non-null  float64
 11  V11     33760 non-null  float64
 12  V12     33760 non-null  float64
 13  V13     33760 non-null  float64
 14  V14     33760 non-null  float64
 15  V15     33760 non-null  float64
 16  V16     33760 non-null  float64
 17  V17     33760 non-null  float64
 18  V18     33760 non-null  float64
 19  V19     33760 non-null  float64
 20  V20     33760 non-null  float64
 21  V21     33760 non-null  float64
 22  V22     33760 non-null  object
 23  V23     33759 non-null  float64
 24  V24     33759 non-null  float64
 25  V25     33759 non-null  float64
 26  V26     33759 non-null  float64
 27  V27     33759 non-null  float64
 28  V28     33759 non-null  float64
 29  Amount  33759 non-null  float64
 30  Class   33759 non-null  float64
dtypes: float64(29), int64(1), object(1)
memory usage: 8.0+ MB

In [ ]:
df_credit.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of         Time     V1     V2     V3     V4     V5     V6     V7     V8     V9  \
0      False  False  False  False  False  False  False  False  False  False
1      False  False  False  False  False  False  False  False  False  False
2      False  False  False  False  False  False  False  False  False  False
3      False  False  False  False  False  False  False  False  False  False
4      False  False  False  False  False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
33755  False  False  False  False  False  False  False  False  False  False
33756  False  False  False  False  False  False  False  False  False  False
33757  False  False  False  False  False  False  False  False  False  False
33758  False  False  False  False  False  False  False  False  False  False
33759  False  False  False  False  False  False  False  False  False  False

       ...    V21    V22    V23    V24    V25    V26    V27    V28  Amount  \
0      ...  False  False  False  False  False  False  False  False   False
1      ...  False  False  False  False  False  False  False  False   False
2      ...  False  False  False  False  False  False  False  False   False
3      ...  False  False  False  False  False  False  False  False   False
4      ...  False  False  False  False  False  False  False  False   False
...    ...    ...    ...    ...    ...    ...    ...    ...    ...     ...
33755  ...  False  False  False  False  False  False  False  False   False
33756  ...  False  False  False  False  False  False  False  False   False
33757  ...  False  False  False  False  False  False  False  False   False
33758  ...  False  False  False  False  False  False  False  False   False
33759  ...  False  False   True   True   True   True   True   True    True

       Class
0      False
1      False
2      False
3      False
4      False
...      ...
33755  False
33756  False
33757  False
33758  False
33759   True

[33760 rows x 31 columns]>

In [ ]:
df=df_credit.drop(33759)

In [ ]:
df.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of         Time     V1     V2     V3     V4     V5     V6     V7     V8     V9  \
0      False  False  False  False  False  False  False  False  False  False
1      False  False  False  False  False  False  False  False  False  False
2      False  False  False  False  False  False  False  False  False  False
3      False  False  False  False  False  False  False  False  False  False
4      False  False  False  False  False  False  False  False  False  False
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
33754  False  False  False  False  False  False  False  False  False  False
33755  False  False  False  False  False  False  False  False  False  False
33756  False  False  False  False  False  False  False  False  False  False
33757  False  False  False  False  False  False  False  False  False  False
33758  False  False  False  False  False  False  False  False  False  False

       ...    V21    V22    V23    V24    V25    V26    V27    V28  Amount  \
0      ...  False  False  False  False  False  False  False  False   False
1      ...  False  False  False  False  False  False  False  False   False
2      ...  False  False  False  False  False  False  False  False   False
3      ...  False  False  False  False  False  False  False  False   False
4      ...  False  False  False  False  False  False  False  False   False
...    ...    ...    ...    ...    ...    ...    ...    ...    ...     ...
33754  ...  False  False  False  False  False  False  False  False   False
33755  ...  False  False  False  False  False  False  False  False   False
33756  ...  False  False  False  False  False  False  False  False   False
33757  ...  False  False  False  False  False  False  False  False   False
33758  ...  False  False  False  False  False  False  False  False   False

       Class
0      False
1      False
2      False
3      False
4      False
...      ...
33754  False
33755  False
33756  False
33757  False
33758  False

[33759 rows x 31 columns]>

perfecto! deleted the 1 row with missing values

In [ ]:
df.groupby("Class").mean()

<ipython-input-34-ef2ef6d1e04d>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V19,V20,V21,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,23194.307464,-0.187654,0.072598,0.753847,0.187759,-0.199393,0.100208,-0.094713,0.020007,0.295446,...,-0.038628,0.043092,-0.033930,-0.041512,0.009386,0.134676,0.021468,0.009748,0.003296,83.011607
1.0,20498.291262,-7.762676,5.838647,-10.957218,5.911555,-5.453798,-2.306085,-7.743100,3.867920,-2.961800,...,0.477900,0.652319,0.628539,-0.362138,-0.234731,0.300023,0.180390,0.822304,0.102481,90.471165

check if data is balanced or not

In [ ]:
df['Class'].value_counts()

0.0    33656
1.0      103
Name: Class, dtype: int64

0 means correct transaction
1 means fraudulent transaction
according to this distribution -> imbalanced data

dealing with imbalanced data

In [ ]:
correct= df[df.Class==0]
fraud= df[df.Class==1]

In [ ]:
correct.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33656 entries, 0 to 33758
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    33656 non-null  int64
 1   V1      33656 non-null  float64
 2   V2      33656 non-null  float64
 3   V3      33656 non-null  float64
 4   V4      33656 non-null  float64
 5   V5      33656 non-null  float64
 6   V6      33656 non-null  float64
 7   V7      33656 non-null  float64
 8   V8      33656 non-null  float64
 9   V9      33656 non-null  float64
 10  V10     33656 non-null  float64
 11  V11     33656 non-null  float64
 12  V12     33656 non-null  float64
 13  V13     33656 non-null  float64
 14  V14     33656 non-null  float64
 15  V15     33656 non-null  float64
 16  V16     33656 non-null  float64
 17  V17     33656 non-null  float64
 18  V18     33656 non-null  float64
 19  V19     33656 non-null  float64
 20  V20     33656 non-null  float64
 21  V21     33656 non-null  float64
 22  V22     33656 non-null  object
 23  V23     33656 non-null  float64
 24  V24     33656 non-null  float64
 25  V25     33656 non-null  float64
 26  V26     33656 non-null  float64
 27  V27     33656 non-null  float64
 28  V28     33656 non-null  float64
 29  Amount  33656 non-null  float64
 30  Class   33656 non-null  float64
dtypes: float64(29), int64(1), object(1)
memory usage: 8.2+ MB

In [ ]:
fraud.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 541 to 33276
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    103 non-null    int64
 1   V1      103 non-null    float64
 2   V2      103 non-null    float64
 3   V3      103 non-null    float64
 4   V4      103 non-null    float64
 5   V5      103 non-null    float64
 6   V6      103 non-null    float64
 7   V7      103 non-null    float64
 8   V8      103 non-null    float64
 9   V9      103 non-null    float64
 10  V10     103 non-null    float64
 11  V11     103 non-null    float64
 12  V12     103 non-null    float64
 13  V13     103 non-null    float64
 14  V14     103 non-null    float64
 15  V15     103 non-null    float64
 16  V16     103 non-null    float64
 17  V17     103 non-null    float64
 18  V18     103 non-null    float64
 19  V19     103 non-null    float64
 20  V20     103 non-null    float64
 21  V21     103 non-null    float64
 22  V22     103 non-null    object
 23  V23     103 non-null    float64
 24  V24     103 non-null    float64
 25  V25     103 non-null    float64
 26  V26     103 non-null    float64
 27  V27     103 non-null    float64
 28  V28     103 non-null    float64
 29  Amount  103 non-null    float64
 30  Class   103 non-null    float64
dtypes: float64(29), int64(1), object(1)
memory usage: 25.8+ KB

In [ ]:
correct.Amount.describe()

count    33656.000000
mean        83.011607
std        227.811004
min          0.000000
25%          6.990000
50%         21.040000
75%         75.000000
max       7879.420000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     103.000000
mean       90.471165
std       247.173335
min         0.000000
25%         1.000000
50%         3.760000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

mean for fraud is higher

In [ ]:
df.groupby('Class').mean()

<ipython-input-22-b888f8b600a0>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V19,V20,V21,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,23194.307464,-0.187654,0.072598,0.753847,0.187759,-0.199393,0.100208,-0.094713,0.020007,0.295446,...,-0.038628,0.043092,-0.033930,-0.041512,0.009386,0.134676,0.021468,0.009748,0.003296,83.011607
1.0,20498.291262,-7.762676,5.838647,-10.957218,5.911555,-5.453798,-2.306085,-7.743100,3.867920,-2.961800,...,0.477900,0.652319,0.628539,-0.362138,-0.234731,0.300023,0.180390,0.822304,0.102481,90.471165

to deal w unbalanced data -> under-sampling technique

In [ ]:
correct_sample= correct.sample(n=103)

In [ ]:
correct_sample.shape

(103, 31)

In [ ]:
fraud.shape

(103, 31)

now both of them have same no. of values -> balanced data

join both dataframes

In [ ]:
new_df=pd.concat([correct_sample,fraud], axis=0)

axis=0 means add row wise
axis=1 means add column wise

In [ ]:
new_df

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
28036,34821,-1.340462,1.735358,-0.017475,0.115988,0.521309,-0.120713,0.295125,0.883824,-1.600018,...,0.070912,-0.131493,-0.166022,-0.810120,-0.126137,0.728123,-0.127338,0.033952,2.99,0.0
19531,30359,-0.574195,0.086990,-0.086064,0.747603,1.137108,4.813820,-0.417345,1.603915,0.347508,...,-0.273816,-0.884486,0.414803,0.976896,-0.018185,-0.458084,-0.045468,-0.019679,165.90,0.0
24010,33021,-2.123429,-2.232032,0.774248,-0.394580,-2.841878,2.273785,1.443102,-0.115531,-0.064782,...,-0.135442,1.164262,0.851564,-0.720236,-0.014260,0.054618,0.925618,-0.138352,654.60,0.0
2260,1800,-0.864793,0.886171,1.569223,1.188212,0.269561,0.235837,0.603880,-0.048396,-0.077952,...,-0.006494,0.391874,-0.057058,0.225745,-0.205699,-0.312078,-0.138643,-0.003934,5.71,0.0
12706,22275,-0.118164,1.538540,0.125054,0.869844,0.735958,-0.789105,1.080944,-0.505354,1.335393,...,-0.163380,0.299649,-0.060769,-0.208430,-0.591124,-0.440016,0.458462,0.115086,0.79,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30442,35926,-3.896583,4.518355,-4.454027,5.547453,-4.121459,-1.163407,-6.805053,2.928356,-4.917130,...,1.691042,0.920021,-0.151104,0.011007,0.080303,0.412191,0.635789,0.501050,4.56,1.0
30473,35942,-4.194074,4.382897,-5.118363,4.455230,-4.812621,-1.224645,-7.281328,3.332250,-3.679659,...,1.550473,0.614573,0.028521,0.013704,-0.149512,-0.131687,0.473934,0.473757,14.46,1.0
30496,35953,-4.844372,5.649439,-6.730396,5.252842,-4.409566,-1.740767,-6.311699,3.449167,-5.416284,...,1.194888,-0.845753,0.190674,-0.216443,-0.325033,-0.270328,0.210214,0.391855,111.70,1.0
31002,36170,-5.685013,5.776516,-7.064977,5.902715,-4.715564,-1.755633,-6.958679,3.877795,-5.541529,...,1.128641,-0.96296,-0.110045,-0.177733,-0.089175,-0.049447,0.303445,0.219380,111.70,1.0
33276,37167,-7.923891,-5.198360,-3.000024,4.420666,2.272194,-3.394483,-5.283435,0.131619,0.658176,...,-0.734308,-0.59992625988411,-4.908301,0.410170,-1.167660,0.520508,1.937421,-1.552593,12.31,1.0

In [ ]:
new_df['Class'].value_counts()

0.0    103
1.0    103
Name: Class, dtype: int64

In [ ]:
new_df.groupby('Class').mean()

<ipython-input-33-a3137bf3fbc9>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V19,V20,V21,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,20819.495146,0.083321,0.070354,0.716221,0.170571,-0.205042,0.130240,-0.03592,0.08264,0.275655,...,-0.056236,-0.007893,-0.057747,-0.060145,-0.013015,0.144462,-0.003415,0.023621,0.028538,82.295437
1.0,20498.291262,-7.762676,5.838647,-10.957218,5.911555,-5.453798,-2.306085,-7.74310,3.86792,-2.961800,...,0.477900,0.652319,0.628539,-0.362138,-0.234731,0.300023,0.180390,0.822304,0.102481,90.471165

mean is almost same ->good data

split data into features and labels

In [ ]:
X=new_df.drop(columns='Class',axis=1)

In [ ]:
Y=new_df['Class']

In [ ]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
28036  34821 -1.340462  1.735358 -0.017475  0.115988  0.521309 -0.120713
19531  30359 -0.574195  0.086990 -0.086064  0.747603  1.137108  4.813820
24010  33021 -2.123429 -2.232032  0.774248 -0.394580 -2.841878  2.273785
2260    1800 -0.864793  0.886171  1.569223  1.188212  0.269561  0.235837
12706  22275 -0.118164  1.538540  0.125054  0.869844  0.735958 -0.789105
...      ...       ...       ...       ...       ...       ...       ...
30442  35926 -3.896583  4.518355 -4.454027  5.547453 -4.121459 -1.163407
30473  35942 -4.194074  4.382897 -5.118363  4.455230 -4.812621 -1.224645
30496  35953 -4.844372  5.649439 -6.730396  5.252842 -4.409566 -1.740767
31002  36170 -5.685013  5.776516 -7.064977  5.902715 -4.715564 -1.755633
33276  37167 -7.923891 -5.198360 -3.000024  4.420666  2.272194 -3.394483

             V7        V8        V9  ...       V20       V21  \
28036  0.295125  0.883824 -1.600018  ... -0.216155  0.070912
19531 -0.417345  1.603915  0.347508  ...  0.317855 -0.273816
24010  1.443102 -0.115531 -0.064782  ... -0.530549 -0.135442
2260   0.603880 -0.048396 -0.077952  ...  0.038466 -0.006494
12706  1.080944 -0.505354  1.335393  ...  0.343591 -0.163380
...         ...       ...       ...  ...       ...       ...
30442 -6.805053  2.928356 -4.917130  ...  0.757287  1.691042
30473 -7.281328  3.332250 -3.679659  ...  0.579098  1.550473
30496 -6.311699  3.449167 -5.416284  ...  0.284555  1.194888
31002 -6.958679  3.877795 -5.541529  ...  0.299489  1.128641
33276 -5.283435  0.131619  0.658176  ... -2.169811 -0.734308

                     V22       V23       V24       V25       V26       V27  \
28036          -0.131493 -0.166022 -0.810120 -0.126137  0.728123 -0.127338
19531          -0.884486  0.414803  0.976896 -0.018185 -0.458084 -0.045468
24010           1.164262  0.851564 -0.720236 -0.014260  0.054618  0.925618
2260            0.391874 -0.057058  0.225745 -0.205699 -0.312078 -0.138643
12706           0.299649 -0.060769 -0.208430 -0.591124 -0.440016  0.458462
...                  ...       ...       ...       ...       ...       ...
30442           0.920021 -0.151104  0.011007  0.080303  0.412191  0.635789
30473           0.614573  0.028521  0.013704 -0.149512 -0.131687  0.473934
30496          -0.845753  0.190674 -0.216443 -0.325033 -0.270328  0.210214
31002           -0.96296 -0.110045 -0.177733 -0.089175 -0.049447  0.303445
33276  -0.59992625988411 -4.908301  0.410170 -1.167660  0.520508  1.937421

            V28  Amount
28036  0.033952    2.99
19531 -0.019679  165.90
24010 -0.138352  654.60
2260  -0.003934    5.71
12706  0.115086    0.79
...         ...     ...
30442  0.501050    4.56
30473  0.473757   14.46
30496  0.391855  111.70
31002  0.219380  111.70
33276 -1.552593   12.31

[206 rows x 30 columns]

In [ ]:
print(Y)

28036    0.0
19531    0.0
24010    0.0
2260     0.0
12706    0.0
        ...
30442    1.0
30473    1.0
30496    1.0
31002    1.0
33276    1.0
Name: Class, Length: 206, dtype: float64

Split into train and test data

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

Stratified sampling is a sampling technique where the samples are selected in the same proportion (by dividing the population into groups called 'strata' based on a characteristic) as they appear in the population.

In [ ]:
print(X_train.shape,X_test.shape)

(164, 30) (42, 30)

we use logistic regression for binary classification mostly

In [ ]:
model=LogisticRegression()

train model w X_train

In [ ]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

model evaluation based on accuracy score

accuracy on training data

In [ ]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)
print(training_data_accuracy)

0.975609756097561

vvv nice accuracy ( out of 100 inputs model can predict 97 correctly)

accuracy on test data

In [ ]:
X_test_prediction=model.predict(X_test)
testing_data_accuracy=accuracy_score(X_test_prediction,Y_test)
print(testing_data_accuracy)

0.9761904761904762

if the difference between accuracy on training and testing data is too much then 2 things can happen

1. over-fiiting -> Overfitting means that your model makes not accurate predictions. In this case, train error is very small and val/test error is large.
2. under-fitting -> Underfitting means that your model makes accurate, but initially incorrect predictions. In this case, train error is large and val/test error is large too.